name: hello-test
on:
  push:
    branches:
    - main
jobs:
  label_issue:
    runs-on: ubuntu-latest
    steps:
      - name: git checkout code
        uses: actions/checkout@v4

      - run: echo "$(cat hello.txt)"
